/* static/css/booking.css */

body {
    background-image: url('picture/1.jpg');
    background-size: cover;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(221, 221, 221, 0.5);
}


h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
    color: #333;
}

#success-message {
    color: #28a745;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#booking-info {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
/* 模态框样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 使用半透明背景 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

/* 模态框内容样式 */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc; /* 调整边框样式 */
    border-radius: 5px; /* 添加边框圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
    width: 80%;
    max-width: 500px; /* 设置最大宽度 */
}

/* 关闭按钮样式 */
.close {
    color: #aaa;
    font-size: 32px;
    font-weight: bold;
    transition: color 0.3s ease; /* 添加过渡效果 */
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: #333; /* 鼠标悬停时改变颜色 */
}
